-
    var links = [
        {postfix: ',', label: 'ГОЛОВНА', href: '/'},
        {postfix: ',', label: 'ДЕВЕЛОПЕР', href: '/#developer'},
        {postfix: ',', label: 'ПРОЄКТИ', href: '/projects'},
        {postfix: ',', label: 'ПЛАНУВАННЯ', href: '/plannings'},
        {postfix: ',', label: 'НОВИНИ', href: '/news'},
        {postfix: '', label: 'КОНТАКТИ', href: '#contact-screen' },
    ]

header(class="header "+header_class)
    .header__left
        a(href="/").header__logo
            <svg width="202" height="38" viewBox="0 0 202 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.74774 29.314H0V19.4208C0 14.3557 4.04834 10.2384 9.02271 10.2384H18.7339V14.0545H9.02271C6.11372 14.0545 3.74774 16.4636 3.74774 19.4257V29.3189V29.314Z" fill="#E4032C"/>
                <path d="M18.7339 29.314H11.2287V29.2103C11.2287 25.0486 14.5449 21.6719 18.6321 21.6719H18.7339V29.3091V29.314Z" fill="#E4032C"/>
                <g class="header__logo-icon">
                    <path d="M32.2205 15.5595C32.2205 14.2164 32.88 13.5449 34.1991 13.5449H44.1081V19.5971H34.1991C32.88 19.5971 32.2205 18.9256 32.2205 17.5825V15.5595ZM28.2553 15.5595V17.5825C28.2553 21.62 30.2338 23.6347 34.1991 23.6347L28.2553 29.6869H33.8734L39.8172 23.6347H44.1081V29.6869H48.0733V9.50732H34.1991C30.2338 9.50732 28.2553 11.522 28.2553 15.5595Z" fill="#DBE2EA"/>
                    <path d="M65.9128 15.5595C65.9128 14.2164 65.2533 13.5449 63.9343 13.5449H54.0252V19.5971H63.9343C65.2533 19.5971 65.9128 18.9256 65.9128 17.5825V15.5595ZM69.8781 15.5595V17.5825C69.8781 21.62 67.8995 23.6347 63.9343 23.6347H54.0252V29.6869H50.06V9.50732H63.9343C67.8995 9.50732 69.8781 11.522 69.8781 15.5595Z" fill="#DBE2EA"/>
                    <path d="M91.6828 29.6869H86.6265L80.2838 21.6117H75.8219V29.6869H71.8566V9.50732H75.8219V17.5742H80.2838L86.6265 9.50732H91.6828L83.7523 19.5971L91.6828 29.6869Z" fill="#DBE2EA"/>
                    <path d="M108.529 23.9663V15.2196C108.529 13.8765 107.869 13.205 106.55 13.205H98.62C97.3009 13.205 96.6414 13.8765 96.6414 15.2196V23.9663C96.6414 25.3094 97.3009 25.9892 98.62 25.9892H106.55C107.869 25.9892 108.529 25.3177 108.529 23.9663ZM112.494 23.9663C112.494 28.0039 110.508 30.0185 106.55 30.0185H98.62C94.6547 30.0185 92.6762 28.0039 92.6762 23.9663V15.2196C92.6762 11.182 94.6629 9.16739 98.62 9.16739H106.55C110.516 9.16739 112.494 11.182 112.494 15.2196V23.9663Z" fill="#DBE2EA"/>
                    <path d="M128.355 25.6493H118.446V21.6117H128.355C129.674 21.6117 130.334 22.2833 130.334 23.6264C130.334 24.9695 129.674 25.641 128.355 25.641M128.355 17.5742H118.446V13.5366H128.355C129.674 13.5366 130.334 14.2082 130.334 15.5512C130.334 16.8943 129.674 17.5659 128.355 17.5659M133.045 19.5639C133.884 18.7349 134.299 17.3918 134.299 15.5264C134.274 11.5137 132.296 9.50732 128.355 9.50732H114.481V29.6952H128.355C132.32 29.6952 134.299 27.6805 134.299 23.643C134.299 21.8024 133.884 20.451 133.045 19.5722" fill="#DBE2EA"/>
                    <path d="M156.104 9.50732H152.138L140.243 23.502V9.50732H136.278V29.6869H140.243L152.138 15.6922V29.6869H156.104V9.50732Z" fill="#DBE2EA"/>
                    <path d="M177.908 9.50732H173.943V25.6493H162.047V9.50732H158.082V29.6869H175.922V33.7245H179.887V25.6493H177.908V9.50732Z" fill="#DBE2EA"/>
                    <path d="M185.839 15.5595C185.839 14.2164 186.498 13.5449 187.817 13.5449H197.727V19.5971H187.817C186.498 19.5971 185.839 18.9256 185.839 17.5825V15.5595ZM181.874 15.5595V17.5825C181.874 21.62 183.852 23.6347 187.817 23.6347L181.874 29.6869H187.492L193.436 23.6347H197.735V29.6869H201.7V9.50732H187.826C183.86 9.50732 181.882 11.522 181.882 15.5595" fill="#DBE2EA"/>
                </g>
                <g transform="translate(0, 38)" class="header__logo-icon-hover">
                    <path d="M32.2205 15.5595C32.2205 14.2164 32.88 13.5449 34.1991 13.5449H44.1081V19.5971H34.1991C32.88 19.5971 32.2205 18.9256 32.2205 17.5825V15.5595ZM28.2553 15.5595V17.5825C28.2553 21.62 30.2338 23.6347 34.1991 23.6347L28.2553 29.6869H33.8734L39.8172 23.6347H44.1081V29.6869H48.0733V9.50732H34.1991C30.2338 9.50732 28.2553 11.522 28.2553 15.5595Z" fill="#DBE2EA"/>
                    <path d="M65.9128 15.5595C65.9128 14.2164 65.2533 13.5449 63.9343 13.5449H54.0252V19.5971H63.9343C65.2533 19.5971 65.9128 18.9256 65.9128 17.5825V15.5595ZM69.8781 15.5595V17.5825C69.8781 21.62 67.8995 23.6347 63.9343 23.6347H54.0252V29.6869H50.06V9.50732H63.9343C67.8995 9.50732 69.8781 11.522 69.8781 15.5595Z" fill="#DBE2EA"/>
                    <path d="M91.6828 29.6869H86.6265L80.2838 21.6117H75.8219V29.6869H71.8566V9.50732H75.8219V17.5742H80.2838L86.6265 9.50732H91.6828L83.7523 19.5971L91.6828 29.6869Z" fill="#DBE2EA"/>
                    <path d="M108.529 23.9663V15.2196C108.529 13.8765 107.869 13.205 106.55 13.205H98.62C97.3009 13.205 96.6414 13.8765 96.6414 15.2196V23.9663C96.6414 25.3094 97.3009 25.9892 98.62 25.9892H106.55C107.869 25.9892 108.529 25.3177 108.529 23.9663ZM112.494 23.9663C112.494 28.0039 110.508 30.0185 106.55 30.0185H98.62C94.6547 30.0185 92.6762 28.0039 92.6762 23.9663V15.2196C92.6762 11.182 94.6629 9.16739 98.62 9.16739H106.55C110.516 9.16739 112.494 11.182 112.494 15.2196V23.9663Z" fill="#DBE2EA"/>
                    <path d="M128.355 25.6493H118.446V21.6117H128.355C129.674 21.6117 130.334 22.2833 130.334 23.6264C130.334 24.9695 129.674 25.641 128.355 25.641M128.355 17.5742H118.446V13.5366H128.355C129.674 13.5366 130.334 14.2082 130.334 15.5512C130.334 16.8943 129.674 17.5659 128.355 17.5659M133.045 19.5639C133.884 18.7349 134.299 17.3918 134.299 15.5264C134.274 11.5137 132.296 9.50732 128.355 9.50732H114.481V29.6952H128.355C132.32 29.6952 134.299 27.6805 134.299 23.643C134.299 21.8024 133.884 20.451 133.045 19.5722" fill="#DBE2EA"/>
                    <path d="M156.104 9.50732H152.138L140.243 23.502V9.50732H136.278V29.6869H140.243L152.138 15.6922V29.6869H156.104V9.50732Z" fill="#DBE2EA"/>
                    <path d="M177.908 9.50732H173.943V25.6493H162.047V9.50732H158.082V29.6869H175.922V33.7245H179.887V25.6493H177.908V9.50732Z" fill="#DBE2EA"/>
                    <path d="M185.839 15.5595C185.839 14.2164 186.498 13.5449 187.817 13.5449H197.727V19.5971H187.817C186.498 19.5971 185.839 18.9256 185.839 17.5825V15.5595ZM181.874 15.5595V17.5825C181.874 21.62 183.852 23.6347 187.817 23.6347L181.874 29.6869H187.492L193.436 23.6347H197.735V29.6869H201.7V9.50732H187.826C183.86 9.50732 181.882 11.522 181.882 15.5595" fill="#DBE2EA"/>
                </g>
            </svg>


    .header__center
        .header__links.hide-on-tablet.hide-on-mobile
            each link, index in links
                if index === 2
                    a.header__link(href=link.href)
                        .header__link-hover(data-title=link.label) #{link.label}
                        .header__link-count (4)
                        .header__link-postfix #{link.postfix}
                else 
                    a.header__link(href=link.href)
                        .header__link-hover(data-title=link.label) #{link.label}
                        .header__link-count
                        .header__link-postfix #{link.postfix}
    .header__right
        div(data-project-contacts-popup-call).header__icon-link.hide-on-tablet.hide-on-mobile
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.60741 -0.000319133C1.38404 -0.000109196 1.1633 0.047303 0.958977 0.137376C0.754745 0.227411 0.571445 0.358575 0.420891 0.523118C0.270297 0.687764 0.155274 0.882164 0.0839767 1.09343C0.0127239 1.30465 -0.0132694 1.52869 0.00682831 1.75066C0.270933 4.23224 1.11704 6.61714 2.47655 8.71159C3.71165 10.6513 5.35913 12.2964 7.30273 13.529C9.39195 14.8811 11.7706 15.7254 14.2461 15.9938C14.4691 16.0139 14.6941 15.9873 14.9062 15.9157C15.1184 15.8441 15.3134 15.7289 15.4785 15.5778C15.6435 15.4267 15.7745 15.2425 15.8643 15.0378C15.954 14.8329 15.9999 14.611 15.999 14.3874V11.9792C16.0088 11.5854 15.8733 11.2016 15.6182 10.901C15.3631 10.6008 15.0067 10.4044 14.6162 10.3493C13.8439 10.2476 13.0853 10.0586 12.3555 9.78679C12.0675 9.67877 11.754 9.65537 11.4531 9.71941C11.1526 9.78343 10.8768 9.93253 10.6582 10.1481L9.63574 11.1686C7.62186 10.0258 5.95476 8.36108 4.80956 6.35124L5.83105 5.33074C6.04717 5.11249 6.1966 4.8369 6.26073 4.53679C6.32478 4.23677 6.30143 3.92454 6.19335 3.63738C5.921 2.90894 5.73174 2.15136 5.62988 1.38054C5.57515 0.994949 5.38176 0.642319 5.08593 0.388353C4.78991 0.134278 4.41092 -0.00415405 4.0205 -0.000319133H1.60741Z" fill="#DBE2EA"/>
            </svg>
            span ЗАТЕЛЕФОНУВАТИ
        +button-primary('ЗАМОВИТИ ДЗВІНОК')('data-callback-popup-call', 'data-menu-close' class="hide-on-mobile")
        <svg class="hide-on-desktop" data-callback-popup-call width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="46" height="46" rx="23" fill="#E4032C"/>
            <path d="M16.6075 15.0004C16.3842 15.0006 16.1633 15.047 15.959 15.1371C15.7549 15.2271 15.5715 15.3584 15.421 15.5228C15.2704 15.6874 15.1553 15.8819 15.084 16.0931C15.0127 16.3044 14.9868 16.5283 15.0069 16.7504C15.271 19.2321 16.117 21.6168 17.4766 23.7113C18.7117 25.6511 20.3592 27.296 22.3028 28.5287C24.392 29.8809 26.7706 30.7251 29.2462 30.9935C29.4692 31.0136 29.6942 30.987 29.9063 30.9154C30.1185 30.8438 30.3135 30.7286 30.4786 30.5775C30.6436 30.4264 30.7746 30.2422 30.8643 30.0375C30.954 29.8327 30.9999 29.6116 30.9991 29.3881V26.9789C31.0088 26.5852 30.8733 26.2012 30.6182 25.9008C30.3632 25.6006 30.0067 25.4041 29.6163 25.349C28.844 25.2474 28.0853 25.0592 27.3555 24.7875C27.0676 24.6795 26.754 24.6561 26.4532 24.7201C26.1525 24.7842 25.8769 24.9331 25.6583 25.1488L24.6358 26.1683C22.6219 25.0254 20.9548 23.3609 19.8096 21.351L20.8311 20.3314C21.0473 20.1132 21.1966 19.8376 21.2608 19.5375C21.325 19.2373 21.3016 18.9244 21.1934 18.6371C20.9211 17.9087 20.7318 17.152 20.6299 16.3812C20.5753 15.9954 20.382 15.6421 20.086 15.3881C19.79 15.134 19.411 14.9965 19.0206 15.0004H16.6075Z" fill="#DBE2EA"/>
        </svg>
        a(href="/compare" data-favourite-button data-count="2").favourite-button
            .favourite-button__tooltip(data-favourite-button-tooltip) 2
            .favourite-button__hover
            <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.9 7.33333C12.943 6.36 14 5.19333 14 3.66667C14 2.69421 13.5944 1.76158 12.8724 1.07394C12.1503 0.386309 11.1711 0 10.15 0C8.918 0 8.05 0.333333 7 1.33333C5.95 0.333333 5.082 0 3.85 0C2.82892 0 1.84965 0.386309 1.12764 1.07394C0.405624 1.76158 0 2.69421 0 3.66667C0 5.2 1.05 6.36667 2.1 7.33333L7 12L11.9 7.33333Z" fill="#DBE2EA"/>
            </svg>
        .header__menu-open(data-menu-call).hide-on-desktop
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18.2471 11.7471L18.2471 12.7471L6 12.7471L6 11.7471L18.2471 11.7471ZM15 8.49414L15 9.49414L6 9.49414L6 8.49414L15 8.49414ZM12.5 15L12.5 16L6 16L6 15L12.5 15Z" fill="#DBE2EA"/>
            </svg>


.mobile-callback-popup(data-mobile-callback-popup) 
    a.mobile-callback-popup__tel(href="tel:+380443563777") Виклик +380 (44) 356 37 77
    .mobile-callback-popup__callback(data-callback-popup-call data-mobile-callback-close) Замовити зворотній дзвінок
    .mobile-callback-popup__close(data-mobile-callback-close) Скасувати


<template id="succes-form-popup-template">
    <div data-success class="form__success">
        <svg class="form__success-top-decor hide-on-desktop" width="180" height="104" viewBox="0 0 180 104" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_3781_13763)">
                <path d="M96.1979 187.356L75.3437 208.139L21.0908 154.071C-6.68537 126.39 -6.73682 81.4385 20.9429 53.8532L74.9804 -3.2995e-05L95.9072 20.8555L41.8698 74.7087C25.6828 90.8405 25.7287 117.127 41.9721 133.315L96.225 187.383L96.1979 187.356Z" fill="#091016"/>
                <path d="M179.587 104.251L137.825 145.871L137.256 145.304C114.434 122.56 114.37 85.7154 137.113 63.0502L137.679 62.4856L179.56 104.224L179.587 104.251Z" fill="#091016"/>
            </g>
            <defs>
                <clipPath id="clip0_3781_13763">
                    <rect width="180" height="104" fill="white"/>
                </clipPath>
            </defs>
        </svg>

        <svg width="95" height="87" viewBox="0 0 95 87" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18.6811 62.9317L17.4505 64.9094L1 54.6914V19.2029L33.2429 39.5291L30.5012 43.9354M18.6811 62.9317L27.9788 69.0845M18.6811 62.9317L30.5012 43.9354M30.5012 43.9354C31.9269 44.8029 34.4493 46.451 36.4233 46.3411C38.3974 46.2313 41.4682 45.0227 42.3455 44.6931C43.2229 44.3635 44.4292 44.2536 45.4163 45.1326C45.7886 45.4641 46.1268 45.7599 46.4033 45.9991C46.7131 46.2671 46.9454 46.4641 47.0613 46.5609M47.0613 46.5609L41.7972 52.7137C41.1392 53.4828 40.2618 55.4605 42.0165 57.2184C44.2099 59.4159 46.6226 57.6579 47.7193 56.5592C48.5967 55.6802 49.9127 54.3618 50.4611 53.8124L66.9116 66.4476M47.0613 46.5609L56.7099 45.0229C56.7107 45.0229 56.7115 45.0228 56.7123 45.0227C57.809 44.9128 58.6863 44.8879 60.2217 45.9991C61.7571 47.1102 62.7899 47.6347 65.7829 45.9991M59.5638 67.8681L64.6745 72.0708C64.6909 72.0842 64.7074 72.0975 64.7239 72.1105M66.9062 66.4216L68.3381 67.5992C68.4407 67.6835 68.5359 67.7734 68.6238 67.8681M56.107 72.5088L61.2176 76.7115C62.4502 77.725 64.2694 77.5457 65.2811 76.3109C66.2928 75.0761 66.1138 73.2534 64.8813 72.2399L64.7239 72.1105M63.4493 71.0624L64.7239 72.1105M64.7239 72.1105C65.9552 73.0793 67.7398 72.8885 68.738 71.6701C69.6655 70.5381 69.5922 68.9119 68.6238 67.8681M59.1576 75.0176L60.5895 76.1951C61.822 77.2087 62.0011 79.0313 60.9894 80.2661C59.9912 81.4845 58.2066 81.6753 56.9753 80.7065M48.158 80.9507L53.469 85.3074C54.7016 86.321 56.5208 86.1416 57.5325 84.9068C58.5442 83.672 58.3652 81.8494 57.1327 80.8358L56.9753 80.7065M55.7007 79.6583L56.9753 80.7065M56.9753 80.7065C56.9588 80.6934 56.9423 80.6802 56.9259 80.6667L52.3276 76.8854M76.3189 62.9317L77.5495 64.9094L94 54.6914V19.2029L61.7571 39.5291L65.7829 45.9991M76.3189 62.9317L68.6238 67.8681M76.3189 62.9317L65.7829 45.9991M31.1592 24.1471L43.2229 36.233L72.2854 7.11704L66.1439 0.964233L43.2229 23.9274L37.3007 17.9943L31.1592 24.1471Z" stroke="#999FA4"/>
        </svg>
        .form__success-title.text-style-1920-decorative.text-style-768-decorative.text-style-375-decorative.color-white
            span Успішно 
            span надіслано
        button(type="button" data-callback-popup-close class="button-primary" onclick="this.closest('form').classList.remove('success'); this.closest('[data-success]').remove()")
            span(data-title="ЗАКРИТИ ПОВІДОМЛЕННЯ") ЗАКРИТИ ПОВІДОМЛЕННЯ
            .button-primary__circle
    </div>
</template>