-
    var links = [
        {postfix: ',', label: 'ГОЛОВНА', href: '/'},
        {postfix: ',', label: 'ДЕВЕЛОПЕР', href: '/#developer'},
        {postfix: ',', label: 'ПРОЄКТИ', href: '/projects'},
        {postfix: ',', label: 'ПЛАНУВАННЯ', href: '/plannings'},
        {postfix: ',', label: 'НОВИНИ', href: '/news'},
        {postfix: '', label: 'КОНТАКТИ', href: '#contact-screen' },
    ]

header(class="header "+header_class)
    .header__left
        a(href="/").header__logo
            <svg width="202" height="38" viewBox="0 0 202 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.74774 29.314H0V19.4208C0 14.3557 4.04834 10.2384 9.02271 10.2384H18.7339V14.0545H9.02271C6.11372 14.0545 3.74774 16.4636 3.74774 19.4257V29.3189V29.314Z" fill="#E4032C"/>
                <path d="M18.7339 29.314H11.2287V29.2103C11.2287 25.0486 14.5449 21.6719 18.6321 21.6719H18.7339V29.3091V29.314Z" fill="#E4032C"/>
                <g class="header__logo-icon">
                    <path d="M32.2205 15.5595C32.2205 14.2164 32.88 13.5449 34.1991 13.5449H44.1081V19.5971H34.1991C32.88 19.5971 32.2205 18.9256 32.2205 17.5825V15.5595ZM28.2553 15.5595V17.5825C28.2553 21.62 30.2338 23.6347 34.1991 23.6347L28.2553 29.6869H33.8734L39.8172 23.6347H44.1081V29.6869H48.0733V9.50732H34.1991C30.2338 9.50732 28.2553 11.522 28.2553 15.5595Z" fill="#DBE2EA"/>
                    <path d="M65.9128 15.5595C65.9128 14.2164 65.2533 13.5449 63.9343 13.5449H54.0252V19.5971H63.9343C65.2533 19.5971 65.9128 18.9256 65.9128 17.5825V15.5595ZM69.8781 15.5595V17.5825C69.8781 21.62 67.8995 23.6347 63.9343 23.6347H54.0252V29.6869H50.06V9.50732H63.9343C67.8995 9.50732 69.8781 11.522 69.8781 15.5595Z" fill="#DBE2EA"/>
                    <path d="M91.6828 29.6869H86.6265L80.2838 21.6117H75.8219V29.6869H71.8566V9.50732H75.8219V17.5742H80.2838L86.6265 9.50732H91.6828L83.7523 19.5971L91.6828 29.6869Z" fill="#DBE2EA"/>
                    <path d="M108.529 23.9663V15.2196C108.529 13.8765 107.869 13.205 106.55 13.205H98.62C97.3009 13.205 96.6414 13.8765 96.6414 15.2196V23.9663C96.6414 25.3094 97.3009 25.9892 98.62 25.9892H106.55C107.869 25.9892 108.529 25.3177 108.529 23.9663ZM112.494 23.9663C112.494 28.0039 110.508 30.0185 106.55 30.0185H98.62C94.6547 30.0185 92.6762 28.0039 92.6762 23.9663V15.2196C92.6762 11.182 94.6629 9.16739 98.62 9.16739H106.55C110.516 9.16739 112.494 11.182 112.494 15.2196V23.9663Z" fill="#DBE2EA"/>
                    <path d="M128.355 25.6493H118.446V21.6117H128.355C129.674 21.6117 130.334 22.2833 130.334 23.6264C130.334 24.9695 129.674 25.641 128.355 25.641M128.355 17.5742H118.446V13.5366H128.355C129.674 13.5366 130.334 14.2082 130.334 15.5512C130.334 16.8943 129.674 17.5659 128.355 17.5659M133.045 19.5639C133.884 18.7349 134.299 17.3918 134.299 15.5264C134.274 11.5137 132.296 9.50732 128.355 9.50732H114.481V29.6952H128.355C132.32 29.6952 134.299 27.6805 134.299 23.643C134.299 21.8024 133.884 20.451 133.045 19.5722" fill="#DBE2EA"/>
                    <path d="M156.104 9.50732H152.138L140.243 23.502V9.50732H136.278V29.6869H140.243L152.138 15.6922V29.6869H156.104V9.50732Z" fill="#DBE2EA"/>
                    <path d="M177.908 9.50732H173.943V25.6493H162.047V9.50732H158.082V29.6869H175.922V33.7245H179.887V25.6493H177.908V9.50732Z" fill="#DBE2EA"/>
                    <path d="M185.839 15.5595C185.839 14.2164 186.498 13.5449 187.817 13.5449H197.727V19.5971H187.817C186.498 19.5971 185.839 18.9256 185.839 17.5825V15.5595ZM181.874 15.5595V17.5825C181.874 21.62 183.852 23.6347 187.817 23.6347L181.874 29.6869H187.492L193.436 23.6347H197.735V29.6869H201.7V9.50732H187.826C183.86 9.50732 181.882 11.522 181.882 15.5595" fill="#DBE2EA"/>
                </g>
                <g transform="translate(0, 38)" class="header__logo-icon-hover">
                    <path d="M32.2205 15.5595C32.2205 14.2164 32.88 13.5449 34.1991 13.5449H44.1081V19.5971H34.1991C32.88 19.5971 32.2205 18.9256 32.2205 17.5825V15.5595ZM28.2553 15.5595V17.5825C28.2553 21.62 30.2338 23.6347 34.1991 23.6347L28.2553 29.6869H33.8734L39.8172 23.6347H44.1081V29.6869H48.0733V9.50732H34.1991C30.2338 9.50732 28.2553 11.522 28.2553 15.5595Z" fill="#DBE2EA"/>
                    <path d="M65.9128 15.5595C65.9128 14.2164 65.2533 13.5449 63.9343 13.5449H54.0252V19.5971H63.9343C65.2533 19.5971 65.9128 18.9256 65.9128 17.5825V15.5595ZM69.8781 15.5595V17.5825C69.8781 21.62 67.8995 23.6347 63.9343 23.6347H54.0252V29.6869H50.06V9.50732H63.9343C67.8995 9.50732 69.8781 11.522 69.8781 15.5595Z" fill="#DBE2EA"/>
                    <path d="M91.6828 29.6869H86.6265L80.2838 21.6117H75.8219V29.6869H71.8566V9.50732H75.8219V17.5742H80.2838L86.6265 9.50732H91.6828L83.7523 19.5971L91.6828 29.6869Z" fill="#DBE2EA"/>
                    <path d="M108.529 23.9663V15.2196C108.529 13.8765 107.869 13.205 106.55 13.205H98.62C97.3009 13.205 96.6414 13.8765 96.6414 15.2196V23.9663C96.6414 25.3094 97.3009 25.9892 98.62 25.9892H106.55C107.869 25.9892 108.529 25.3177 108.529 23.9663ZM112.494 23.9663C112.494 28.0039 110.508 30.0185 106.55 30.0185H98.62C94.6547 30.0185 92.6762 28.0039 92.6762 23.9663V15.2196C92.6762 11.182 94.6629 9.16739 98.62 9.16739H106.55C110.516 9.16739 112.494 11.182 112.494 15.2196V23.9663Z" fill="#DBE2EA"/>
                    <path d="M128.355 25.6493H118.446V21.6117H128.355C129.674 21.6117 130.334 22.2833 130.334 23.6264C130.334 24.9695 129.674 25.641 128.355 25.641M128.355 17.5742H118.446V13.5366H128.355C129.674 13.5366 130.334 14.2082 130.334 15.5512C130.334 16.8943 129.674 17.5659 128.355 17.5659M133.045 19.5639C133.884 18.7349 134.299 17.3918 134.299 15.5264C134.274 11.5137 132.296 9.50732 128.355 9.50732H114.481V29.6952H128.355C132.32 29.6952 134.299 27.6805 134.299 23.643C134.299 21.8024 133.884 20.451 133.045 19.5722" fill="#DBE2EA"/>
                    <path d="M156.104 9.50732H152.138L140.243 23.502V9.50732H136.278V29.6869H140.243L152.138 15.6922V29.6869H156.104V9.50732Z" fill="#DBE2EA"/>
                    <path d="M177.908 9.50732H173.943V25.6493H162.047V9.50732H158.082V29.6869H175.922V33.7245H179.887V25.6493H177.908V9.50732Z" fill="#DBE2EA"/>
                    <path d="M185.839 15.5595C185.839 14.2164 186.498 13.5449 187.817 13.5449H197.727V19.5971H187.817C186.498 19.5971 185.839 18.9256 185.839 17.5825V15.5595ZM181.874 15.5595V17.5825C181.874 21.62 183.852 23.6347 187.817 23.6347L181.874 29.6869H187.492L193.436 23.6347H197.735V29.6869H201.7V9.50732H187.826C183.86 9.50732 181.882 11.522 181.882 15.5595" fill="#DBE2EA"/>
                </g>
            </svg>


    .header__center
        .header__links.hide-on-tablet.hide-on-mobile
            each link, index in links
                if index === 2
                    a.header__link(href=link.href)
                        .header__link-hover(data-title=link.label) #{link.label}
                        .header__link-count (4)
                        .header__link-postfix #{link.postfix}
                else 
                    a.header__link(href=link.href)
                        .header__link-hover(data-title=link.label) #{link.label}
                        .header__link-count
                        .header__link-postfix #{link.postfix}
    .header__right
        div(data-project-contacts-popup-call).header__icon-link.hide-on-tablet.hide-on-mobile
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.60741 -0.000319133C1.38404 -0.000109196 1.1633 0.047303 0.958977 0.137376C0.754745 0.227411 0.571445 0.358575 0.420891 0.523118C0.270297 0.687764 0.155274 0.882164 0.0839767 1.09343C0.0127239 1.30465 -0.0132694 1.52869 0.00682831 1.75066C0.270933 4.23224 1.11704 6.61714 2.47655 8.71159C3.71165 10.6513 5.35913 12.2964 7.30273 13.529C9.39195 14.8811 11.7706 15.7254 14.2461 15.9938C14.4691 16.0139 14.6941 15.9873 14.9062 15.9157C15.1184 15.8441 15.3134 15.7289 15.4785 15.5778C15.6435 15.4267 15.7745 15.2425 15.8643 15.0378C15.954 14.8329 15.9999 14.611 15.999 14.3874V11.9792C16.0088 11.5854 15.8733 11.2016 15.6182 10.901C15.3631 10.6008 15.0067 10.4044 14.6162 10.3493C13.8439 10.2476 13.0853 10.0586 12.3555 9.78679C12.0675 9.67877 11.754 9.65537 11.4531 9.71941C11.1526 9.78343 10.8768 9.93253 10.6582 10.1481L9.63574 11.1686C7.62186 10.0258 5.95476 8.36108 4.80956 6.35124L5.83105 5.33074C6.04717 5.11249 6.1966 4.8369 6.26073 4.53679C6.32478 4.23677 6.30143 3.92454 6.19335 3.63738C5.921 2.90894 5.73174 2.15136 5.62988 1.38054C5.57515 0.994949 5.38176 0.642319 5.08593 0.388353C4.78991 0.134278 4.41092 -0.00415405 4.0205 -0.000319133H1.60741Z" fill="#DBE2EA"/>
            </svg>
            span ЗАТЕЛЕФОНУВАТИ
        +button-primary('ЗАМОВИТИ ДЗВІНОК')('data-callback-popup-call', 'data-menu-close' class="hide-on-mobile")
        <svg class="hide-on-desktop" data-callback-popup-call width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="46" height="46" rx="23" fill="#E4032C"/>
            <path d="M16.6075 15.0004C16.3842 15.0006 16.1633 15.047 15.959 15.1371C15.7549 15.2271 15.5715 15.3584 15.421 15.5228C15.2704 15.6874 15.1553 15.8819 15.084 16.0931C15.0127 16.3044 14.9868 16.5283 15.0069 16.7504C15.271 19.2321 16.117 21.6168 17.4766 23.7113C18.7117 25.6511 20.3592 27.296 22.3028 28.5287C24.392 29.8809 26.7706 30.7251 29.2462 30.9935C29.4692 31.0136 29.6942 30.987 29.9063 30.9154C30.1185 30.8438 30.3135 30.7286 30.4786 30.5775C30.6436 30.4264 30.7746 30.2422 30.8643 30.0375C30.954 29.8327 30.9999 29.6116 30.9991 29.3881V26.9789C31.0088 26.5852 30.8733 26.2012 30.6182 25.9008C30.3632 25.6006 30.0067 25.4041 29.6163 25.349C28.844 25.2474 28.0853 25.0592 27.3555 24.7875C27.0676 24.6795 26.754 24.6561 26.4532 24.7201C26.1525 24.7842 25.8769 24.9331 25.6583 25.1488L24.6358 26.1683C22.6219 25.0254 20.9548 23.3609 19.8096 21.351L20.8311 20.3314C21.0473 20.1132 21.1966 19.8376 21.2608 19.5375C21.325 19.2373 21.3016 18.9244 21.1934 18.6371C20.9211 17.9087 20.7318 17.152 20.6299 16.3812C20.5753 15.9954 20.382 15.6421 20.086 15.3881C19.79 15.134 19.411 14.9965 19.0206 15.0004H16.6075Z" fill="#DBE2EA"/>
        </svg>
        a(href="/compare" data-favourite-button data-count="2").favourite-button
            .favourite-button__tooltip(data-favourite-button-tooltip) 2
            .favourite-button__hover
            <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.9 7.33333C12.943 6.36 14 5.19333 14 3.66667C14 2.69421 13.5944 1.76158 12.8724 1.07394C12.1503 0.386309 11.1711 0 10.15 0C8.918 0 8.05 0.333333 7 1.33333C5.95 0.333333 5.082 0 3.85 0C2.82892 0 1.84965 0.386309 1.12764 1.07394C0.405624 1.76158 0 2.69421 0 3.66667C0 5.2 1.05 6.36667 2.1 7.33333L7 12L11.9 7.33333Z" fill="#DBE2EA"/>
            </svg>
        .header__menu-open(data-menu-call).hide-on-desktop
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18.2471 11.7471L18.2471 12.7471L6 12.7471L6 11.7471L18.2471 11.7471ZM15 8.49414L15 9.49414L6 9.49414L6 8.49414L15 8.49414ZM12.5 15L12.5 16L6 16L6 15L12.5 15Z" fill="#DBE2EA"/>
            </svg>


.mobile-callback-popup(data-mobile-callback-popup) 
    a.mobile-callback-popup__tel(href="tel:+380443563777") Виклик +380 (44) 356 37 77
    .mobile-callback-popup__callback(data-callback-popup-call data-mobile-callback-close) Замовити зворотній дзвінок
    .mobile-callback-popup__close(data-mobile-callback-close) Скасувати


<template id="succes-form-popup-template">
    <div data-success class="form__success">
        <svg class="form__success-top-decor hide-on-desktop" width="180" height="104" viewBox="0 0 180 104" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_3781_13763)">
                <path d="M96.1979 187.356L75.3437 208.139L21.0908 154.071C-6.68537 126.39 -6.73682 81.4385 20.9429 53.8532L74.9804 -3.2995e-05L95.9072 20.8555L41.8698 74.7087C25.6828 90.8405 25.7287 117.127 41.9721 133.315L96.225 187.383L96.1979 187.356Z" fill="#091016"/>
                <path d="M179.587 104.251L137.825 145.871L137.256 145.304C114.434 122.56 114.37 85.7154 137.113 63.0502L137.679 62.4856L179.56 104.224L179.587 104.251Z" fill="#091016"/>
            </g>
            <defs>
                <clipPath id="clip0_3781_13763">
                    <rect width="180" height="104" fill="white"/>
                </clipPath>
            </defs>
        </svg>

        <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M21.6811 68.9317L20.4505 70.9094L4 60.6914V25.2029L36.2429 45.5291L33.5012 49.9354M21.6811 68.9317L30.9788 75.0845M21.6811 68.9317L33.5012 49.9354M33.5012 49.9354C34.9269 50.8029 37.4493 52.451 39.4233 52.3411C41.3974 52.2313 44.4682 51.0227 45.3455 50.6931C46.2229 50.3635 47.4292 50.2536 48.4163 51.1326C48.7886 51.4641 49.1268 51.7599 49.4033 51.9991C49.7131 52.2671 49.9454 52.4641 50.0613 52.5609M50.0613 52.5609L44.7972 58.7137C44.1392 59.4828 43.2618 61.4605 45.0165 63.2184C47.2099 65.4159 49.6226 63.6579 50.7193 62.5592C51.5967 61.6802 52.9127 60.3618 53.4611 59.8124L69.9116 72.4476M50.0613 52.5609L59.7099 51.0229C59.7107 51.0229 59.7115 51.0228 59.7123 51.0227C60.809 50.9128 61.6863 50.8879 63.2217 51.9991C64.7571 53.1102 65.7899 53.6347 68.7829 51.9991M62.5638 73.8681L67.6745 78.0708C67.6909 78.0842 67.7074 78.0975 67.7239 78.1105M69.9062 72.4216L71.3381 73.5992C71.4407 73.6835 71.5359 73.7734 71.6238 73.8681M59.107 78.5088L64.2176 82.7115C65.4502 83.725 67.2694 83.5457 68.2811 82.3109C69.2928 81.0761 69.1138 79.2534 67.8813 78.2399L67.7239 78.1105M66.4493 77.0624L67.7239 78.1105M67.7239 78.1105C68.9552 79.0793 70.7398 78.8885 71.738 77.6701C72.6655 76.5381 72.5922 74.9119 71.6238 73.8681M62.1576 81.0176L63.5895 82.1951C64.822 83.2087 65.0011 85.0313 63.9894 86.2661C62.9912 87.4845 61.2066 87.6753 59.9753 86.7065M51.158 86.9507L56.469 91.3074C57.7016 92.321 59.5208 92.1416 60.5325 90.9068C61.5442 89.672 61.3652 87.8494 60.1327 86.8358L59.9753 86.7065M58.7007 85.6583L59.9753 86.7065M59.9753 86.7065C59.9588 86.6934 59.9423 86.6802 59.9259 86.6667L55.3276 82.8854M79.3189 68.9317L80.5495 70.9094L97 60.6914V25.2029L64.7571 45.5291L68.7829 51.9991M79.3189 68.9317L71.6238 73.8681M79.3189 68.9317L68.7829 51.9991M34.1592 30.1471L46.2229 42.233L75.2854 13.117L69.1439 6.96423L46.2229 29.9274L40.3007 23.9943L34.1592 30.1471Z" stroke="#999FA4"/>
            <rect x="32.8359" y="71.947" width="5.87698" height="8.89855" rx="2.93849" transform="rotate(33.322 32.8359 71.947)" stroke="#999FA4"/>
            <rect x="39.4336" y="72.5906" width="5.87698" height="11.9799" rx="2.93849" transform="rotate(33.322 39.4336 72.5906)" stroke="#999FA4"/>
            <rect x="44.3379" y="75.8132" width="5.87698" height="11.9749" rx="2.93849" transform="rotate(33.322 44.3379 75.8132)" stroke="#999FA4"/>
            <rect x="47.5527" y="81.6021" width="5.87698" height="8.89855" rx="2.93849" transform="rotate(33.322 47.5527 81.6021)" stroke="#999FA4"/>
        </svg>
        .form__success-title.text-style-1920-decorative.text-style-768-decorative.text-style-375-decorative.color-white
            span Успішно 
            span надіслано
        button(type="button" data-callback-popup-close class="button-primary" onclick="this.closest('form').classList.remove('success'); this.closest('[data-success]').remove()")
            span(data-title="ЗАКРИТИ ПОВІДОМЛЕННЯ") ЗАКРИТИ ПОВІДОМЛЕННЯ
            .button-primary__circle
    </div>
</template>