
extends ../layout/main
block variable
  -
    var title_page = 'projects'
    var id_page = 'id-page-projects'
    var class_page = 'class-page-projects'
    var breadcrumbsSubitem = []
    var projects1 = [
      {
        alertLabel: 'BUSINESS',
        labels: [
          'РОЗТЕРМІНУВАННЯ 44 МІС',
          'РОЗТЕРМІНУВАННЯ 0%',
          'ЗНИЖКА 15%',
        ],
        deadline: 'ОБ\'ЄКТ ЗДАНО',
        adress: 'ПАРК ШЕВЧЕНКА, ВУЛ. ДОРОШЕНКА',
        title: 'PARK AVENUE',
        img: './assets/images/home/home-projects/park-avenue.jpg',
        logo: './assets/images/home/home-projects/Park Avenue logo.svg',
      },{
        alertLabel: 'BUSINESS',
        labels: [
          'РОЗТЕРМІНУВАННЯ 44 МІС',
          'РОЗТЕРМІНУВАННЯ 0%',
          'ЗНИЖКА 15%',
        ],
        deadline: 'ОБ\'ЄКТ ЗДАНО',
        adress: 'ПАРК ШЕВЧЕНКА, ВУЛ. ДОРОШЕНКА',
        title: 'PARK AVENUE',
        img: './assets/images/home/home-projects/park-avenue.jpg',
        logo: './assets/images/home/home-projects/Park Avenue logo.svg',
      },{
        alertLabel: 'BUSINESS',
        labels: [
          'РОЗТЕРМІНУВАННЯ 44 МІС',
          'РОЗТЕРМІНУВАННЯ 0%',
          'ЗНИЖКА 15%',
        ],
        deadline: 'ОБ\'ЄКТ ЗДАНО',
        adress: 'ПАРК ШЕВЧЕНКА, ВУЛ. ДОРОШЕНКА',
        title: 'PARK AVENUE',
        img: './assets/images/home/home-projects/park-avenue.jpg',
        logo: './assets/images/home/home-projects/Park Avenue logo.svg',
      },
    ]
  
block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/projects.bundle.js')
block content
  .inner-front-screen
    .inner-front-screen__bg
      img(src="./assets/images/inner-front-screen-bg.svg", alt="", srcset="")
    .inner-front-screen__decor
      .inner-front-screen__decor-wrapper
        img(src="./assets/images/inner-front-screen-decor.svg", alt="", srcset="")
    .inner-front-screen__content 
      include ../includes/breadcrumbs.pug
      .inner-front-screen__top 
        .inner-front-screen__title.color-red.text-style-1920-h-1.text-style-768-h-1.text-style-375-h-1 ПРОЕКТИ
        .inner-front-screen__right
          label(type="button" for="business" data-project-filter-button).button-small2
            input#business(type="checkbox", name="")
            span BUSINESS
          label(type="button" for="comfort" data-project-filter-button).button-small2
            input#comfort(type="checkbox", name="")
            span COMFORT
          span /
          label(type="button", for="inprogress" data-project-filter-button).button-small2
            input#inprogress(type="checkbox", name="")
            span БУДУЮТЬСЯ
          label(type="button", for="ready" data-project-filter-button).button-small2
            input#ready(type="checkbox", name="")
            span ЗДАНІ В ЕКСПЛУАТАЦІЮ
  .projects-list.g_side_padding
    each val in projects1
      a(href="/single-project").project-card
        .project-card__img
          .project-card__img-wrap
            img(src=val.img, alt="", srcset="")
          .project-card__labels
            .project-card__label.project-card__label--alert #{val.alertLabel}
            each label in val.labels
              .project-card__label #{label}
          .project-card__deadline
            .project-card__label.project-card__label--dark #{val.deadline}
          .project-card__logo
              img(src=val.logo, alt="", srcset="")
          .project-card__eoselya.project-card__label
            img(src="./assets/images/eoselya.svg", alt="", srcset="")
        .project-card__text
          .project-card__adress.color-body-description #{val.adress}
          .project-card__title.text-style-1920-h-2.text-style-768-h-2.text-style-375-h-2.text-white #{val.title}
          +diagonal-arrow('project-card__arrow')
  .project-pagination
    .pagination
      button(type="button" disabled).pagination__button
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M11.5385 6L6 12M6 12L11.5385 18M6 12H18" stroke="#101820" stroke-width="2"/>
        </svg>
      .pagination__middle
        input(type="text", name="pagination-current").pagination__input
        .pagination__span.text-style-1920-tiny.color-white 
          | з 
          span 02 
          | сторінок
      button(type="button").pagination__button
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12.4615 6L18 12M18 12L12.4615 18M18 12L6 12" stroke="#101820" stroke-width="2"/>
        </svg>
    button(type="button").incredible-button
      .incredible-button__title(data-title="ЗАВАНТАЖИТИ ЩЕ") ЗАВАНТАЖИТИ ЩЕ
      .incredible-button__circle
      .incredible-button__line
      .incredible-button__line2
  include ../includes/incredible-block.pug
  include ../includes/contact-screen.pug
  include ../includes/form-screen.pug
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
