-
  var projects = [
    {
      alertLabel: 'BUSINESS',
      labels: [
        'РОЗТЕРМІНУВАННЯ 44 МІС',
        'РОЗТЕРМІНУВАННЯ 0%',
        'ЗНИЖКА 15%',
      ],
      deadline: 'ОБ\'ЄКТ ЗДАНО',
      adress: 'ПАРК ШЕВЧЕНКА, ВУЛ. ДОРОШЕНКА',
      title: 'PARK AVENUE',
      img: './assets/images/home/home-projects/park-avenue.jpg',
      logo: './assets/images/home/home-projects/Park Avenue logo.svg',
    },

    {
      alertLabel: 'BUSINESS',
      labels: [
        'РОЗТЕРМІНУВАННЯ 44 МІС',
        'РОЗТЕРМІНУВАННЯ 0%',
        'ЗНИЖКА 15%',

      ],
      deadline: 'ІV КВАРТАЛ 2025',

      adress: 'ПІВДЕННИЙ БУЛЬВАР',
      title: 'ЯРКО-ЦЕНТР',
      img: './assets/images/home/home-projects/yarko-center.jpg',
      logo: './assets/images/home/home-projects/yarko-center-logo.svg',
    },
    {
      alertLabel: 'BUSINESS',
      labels: [
        'РОЗТЕРМІНУВАННЯ 44 МІС',
        'РОЗТЕРМІНУВАННЯ 0%',
        'ЗНИЖКА 15%',
      ],
      deadline: 'ОБ\'ЄКТ ЗДАНО',
      adress: 'ВУЛ. О. БЛАВАЦЬКОГО',
      title: 'ОПРИШІВСЬКА СЛОБОДА',
      img: './assets/images/home/home-projects/opryshkivska-sloboda.jpg',
      logo: './assets/images/home/home-projects/Sloboda logo.svg',
    },
    {
      alertLabel: 'BUSINESS',
      labels: [
        'РОЗТЕРМІНУВАННЯ 44 МІС',
        'РОЗТЕРМІНУВАННЯ 0%',
        'ЗНИЖКА 15%',
      ],
      deadline: 'ОБ\'ЄКТ ЗДАНО',
      adress: 'ВУЛ. БУГАЯ',
      title: 'КАСКАД ЯРКО',
      img: './assets/images/home/home-projects/kaskad-yarko.jpg',
      logo: './assets/images/home/home-projects/Cascad logo.svg',
    }
  ]

.home-projects
  .home-projects__content
    .home-projects__title.text-style-1920-h-1.text-style-768-h-1.text-style-375-h-1.color-red НАШІ ПРОЄКТИ
    .swiper-container(home-projects-slider)
      .slider-navigation
        button(type="button" home-projects-slider-prev).navigation-button
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.3846 4L4.00001 12M4.00001 12L11.3846 20M4.00001 12H20" stroke="#DBE2EA" stroke-width="2"/>
          </svg>
        button(type="button" home-projects-slider-next).navigation-button
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M12.6154 4L20 12M20 12L12.6154 20M20 12L4 12" stroke="#DBE2EA" stroke-width="2"/>
          </svg>
      .swiper-wrapper
        each val in projects
          .swiper-slide
            a(href="/single-project").project-card
              .project-card__img
                .project-card__img-wrap
                  img(src=val.img, alt="", srcset="" loading="lazy")
                .project-card__labels
                  .project-card__label.project-card__label--alert #{val.alertLabel}
                  each label in val.labels
                    .project-card__label #{label}
                .project-card__deadline
                  .project-card__label.project-card__label--dark #{val.deadline}
                .project-card__logo
                    img(src=val.logo, alt="", srcset="" loading="lazy")
                .project-card__eoselya.project-card__label
                  img(src="./assets/images/eoselya.svg", alt="", srcset="" loading="lazy")
              .project-card__text
                .project-card__adress.color-body-description #{val.adress}
                .project-card__title.text-style-1920-h-2.text-style-768-h-2.text-style-375-h-2.text-white #{val.title}
                +diagonal-arrow('project-card__arrow')
  .home-projects__map(data-mobile-image-swipe-image)
    .home-projects__map-legend
      .home-projects__map-item.home-projects__map-item--park-avenue
        .home-projects__map-item-img 
          img(src='./assets/images/home/home-projects/park-avenue.jpg' loading="lazy")
        a(href="#").home-projects__map-item-text
          div PARK AVENUE
          <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.7574 11.2426V2.75736M11.7574 2.75736L3.51833 2.75736M11.7574 2.75736L3.27208 11.2426" stroke="#DBE2EA" stroke-width="1.3"/>
          </svg>
      .home-projects__map-item.home-projects__map-item--yarko-center
        .home-projects__map-item-img 
          img(src='./assets/images/home/home-projects/yarko-center.jpg' loading="lazy")
        a(href="#").home-projects__map-item-text
          div ЯРКО ЦЕНТР
          <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.7574 11.2426V2.75736M11.7574 2.75736L3.51833 2.75736M11.7574 2.75736L3.27208 11.2426" stroke="#DBE2EA" stroke-width="1.3"/>
          </svg>
      .home-projects__map-item.home-projects__map-item--sloboda
        .home-projects__map-item-img 
          img(src='./assets/images/home/home-projects/opryshkivska-sloboda.jpg' loading="lazy")
        a(href="#").home-projects__map-item-text
          div ОПРИШІВСЬКА СЛОБОДА
          <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.7574 11.2426V2.75736M11.7574 2.75736L3.51833 2.75736M11.7574 2.75736L3.27208 11.2426" stroke="#DBE2EA" stroke-width="1.3"/>
          </svg>
      .home-projects__map-item.home-projects__map-item--cascad-yarko
        .home-projects__map-item-img 
          img(src='./assets/images/home/home-projects/kaskad-yarko.jpg' loading="lazy")
        a(href="#").home-projects__map-item-text
          div КАСКАД ЯРКО
          <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.7574 11.2426V2.75736M11.7574 2.75736L3.51833 2.75736M11.7574 2.75736L3.27208 11.2426" stroke="#DBE2EA" stroke-width="1.3"/>
          </svg>
    <picture>
        <source srcset="./assets/images/home/home-projects/map.jpg" media="(min-width: 1025px)">
        <source srcset="./assets/images/home/home-projects/map-tablet.jpg" media="(min-width: 601px) and (max-width: 1024px)">
        <source srcset="./assets/images/home/home-projects/map.jpg" media="(max-width: 600px)">
        <img  class="home-projects__map-img" src="#" alt="" loading="lazy" style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
    </picture>
  .block-style-column(data-mobile-image-swipe data-lenis-prevent)
    <div class="block-style-column__info-wrapper block-style-column__info-wrapper--mobile">
      <div class="block-style-column__nav">
        <svg class="block-style-column__mobile-slider" data-mobile-image-swipe-svg  width="351" height="60" viewBox="0 0 351 60" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="30" cy="30" r="29.5" stroke="#EFF0F7" stroke-dasharray="1 4"/>
          <circle cx="321" cy="30" r="29.5" stroke="#EFF0F7" stroke-dasharray="1 4"/>
          <rect x="60.25" y="29.75" width="230.5" height="0.5" stroke="#EFF0F7" stroke-width="0.5" stroke-dasharray="1 4"/>
          <g class="swipe" data-mobile-image-swipe-icon>
            <circle cx="30" cy="30" r="30" fill="url(#paint0_linear_438_3395)"/>
            <path d="M40.6721 18.7343H33.5572C33.23 18.7343 32.9643 18.9999 32.9643 19.3272C32.9643 19.6545 33.23 19.9201 33.5572 19.9201H40.6721C40.9994 19.9201 41.265 19.6545 41.265 19.3272C41.265 18.9999 40.9994 18.7343 40.6721 18.7343Z" fill="rgba(219,226,234,1)"/>
            <path d="M41.0924 18.9086L38.7207 16.5369C38.4895 16.3057 38.1136 16.3057 37.8823 16.5369C37.6511 16.7682 37.6511 17.1441 37.8823 17.3753L39.8342 19.3272L37.8812 21.2802C37.6499 21.5115 37.6499 21.8874 37.8812 22.1186C37.9974 22.2336 38.1491 22.2918 38.3009 22.2918C38.4527 22.2918 38.6045 22.2337 38.7207 22.1186L41.0924 19.747C41.3236 19.5157 41.3236 19.1398 41.0924 18.9086Z" fill="rgba(219,226,234,1)"/>
            <path d="M25.2566 18.7343H18.1418C17.8145 18.7343 17.5488 18.9999 17.5488 19.3272C17.5488 19.6545 17.8145 19.9201 18.1418 19.9201H25.2566C25.5839 19.9201 25.8495 19.6545 25.8495 19.3272C25.8495 18.9999 25.5839 18.7343 25.2566 18.7343Z" fill="rgba(219,226,234,1)"/>
            <path d="M18.9804 19.3272L20.9322 17.3753C21.1635 17.1441 21.1635 16.7682 20.9322 16.5369C20.701 16.3057 20.3251 16.3057 20.0938 16.5369L17.7223 18.9086C17.491 19.1399 17.491 19.5158 17.7223 19.747L20.0939 22.1187C20.2101 22.2337 20.3619 22.2918 20.5137 22.2918C20.6655 22.2918 20.8172 22.2337 20.9323 22.1175C21.1635 21.8863 21.1635 21.5103 20.9323 21.2791L18.9804 19.3272Z" fill="rgba(219,226,234,1)"/>
            <path d="M40.0796 28.2207C39.5922 28.2207 39.138 28.3689 38.7609 28.6215C38.436 27.699 37.555 27.0349 36.5222 27.0349C36.0348 27.0349 35.5806 27.1831 35.2035 27.4357C34.8786 26.5132 33.9975 25.8491 32.9647 25.8491C32.5331 25.8491 32.1276 25.9653 31.7789 26.1681V22.2917C31.7789 20.9837 30.7153 19.92 29.4073 19.92C28.0993 19.92 27.0357 20.9837 27.0357 22.2917V32.371L24.9747 30.8259C23.7534 29.9093 22.015 30.0315 20.9323 31.1129C20.2386 31.8066 20.2386 32.9343 20.9323 33.628L29.3765 42.0734C30.3844 43.0813 31.7256 43.6362 33.1509 43.6362H35.9293C39.5247 43.6362 42.4512 40.7109 42.4512 37.1143V30.5923C42.4512 29.2844 41.3875 28.2207 40.0796 28.2207ZM41.2654 37.1142C41.2654 40.0562 38.8713 42.4504 35.9293 42.4504H33.1509C32.041 42.4504 30.9987 42.0188 30.2149 41.2349L21.7707 32.7896C21.5395 32.5584 21.5395 32.1825 21.7707 31.9513C22.1383 31.5848 22.6292 31.3963 23.1226 31.3963C23.5234 31.3963 23.9265 31.5208 24.2645 31.7746L27.2729 34.0311C27.4532 34.1663 27.6951 34.1865 27.8943 34.0869C28.0947 33.9861 28.2216 33.7809 28.2216 33.5568V22.2917C28.2216 21.6383 28.7528 21.1059 29.4074 21.1059C30.0619 21.1059 30.5931 21.6383 30.5931 22.2917V31.1852C30.5931 31.5125 30.8588 31.7782 31.1861 31.7782C31.5133 31.7782 31.779 31.5125 31.779 31.1852V28.2207C31.779 27.5673 32.3102 27.035 32.9648 27.035C33.6193 27.035 34.1506 27.5674 34.1506 28.2207V31.1852C34.1506 31.5125 34.4162 31.7782 34.7435 31.7782C35.0708 31.7782 35.3364 31.5125 35.3364 31.1852V29.4065C35.3364 28.7531 35.8676 28.2207 36.5222 28.2207C37.1768 28.2207 37.708 28.7532 37.708 29.4065V31.1852C37.708 31.5125 37.9736 31.7782 38.3009 31.7782C38.6282 31.7782 38.8938 31.5125 38.8938 31.1852V30.5923C38.8938 29.9389 39.4251 29.4065 40.0796 29.4065C40.7342 29.4065 41.2654 29.939 41.2654 30.5923V37.1142Z" fill="rgba(219,226,234,1)"/>
          </g>
          <defs>
            <linearGradient id="paint0_linear_438_3395" x1="5.72205e-06" y1="0" x2="70.172" y2="16.354" gradientUnits="userSpaceOnUse">
              <stop stop-color="#E4032C"/>
              <stop offset="1" stop-color="#E4032C"/>
            </linearGradient>
          </defs>
        </svg>
        //- <div class="block-style-column__title text-style-1920-button">Весь комплекс з висоти</div>
        <input type="range" name="aaaa" max="1083" data-mobile-image-swipe-input>
      </div>
    </div>
  


    //- img(src="./assets/images/home/home-projects/map.jpg", alt="", srcset="")
